.blink {
    animation-name: blink;
    animation-duration: 1.05s;
    animation-timing-function: cubic-bezier(.8,0,.3,1);
    animation-iteration-count: infinite;
    fill-opacity: 0;
    animation-delay: -0.5025s;
}

@keyframes blink {
    50% { 
        fill-opacity: 1;
    }
}
